<div class="container">
 
  <div class="search-container">
    
    <mat-form-field appearance="fill">
      <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">  
    </mat-form-field>
  </div>
 
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

   
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="first_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>first_name </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>last_name</th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>

      <td mat-cell *matCellDef="let i-index">
        <button class="btn btn-primary"  type="button" (click)="openDialog()">
          Add
        </button>

        <button class="btn btn-primary"  type="button" (click)="openDialog()">
          Edit
        </button>
     
       <button class="btn btn-danger" type="button" (click)="onRemove(1)">Delete</button>
      </td>
   </ng-container>

 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
 
  <mat-paginator #paginator
  [pageSize]="3"
  [pageSizeOptions]="[1,2,3]"
  >
  </mat-paginator>

</div>